<%= csrf_meta_tag %>
<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :person, placeholder: 'Your Name', required: true %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'Your Email', required: true, class: 'email' %>
  </div>
  <div class="field" style="overflow:hidden; margin-bottom:12px; margin-bottom:0.5rem;">
    <%= f.text_field :plusses %>
  </div>
  <div class="field">
    <%= check_box_tag 'response[coming]', '1', true %>
    <%= label_tag 'response[coming]', '<span id="yes-no"></span>, <span id="noun-verb"></span> <span id="adverb"></span> coming<span id="smile"><span id="eyes">:</span><span id="mouth"></span></span>'.html_safe %>
  </div>
  <div class="actions ta-center">
    <%= f.submit value: 'RSVP', class: 'button' %>
  </div>
<% end %>
